@model NewAnimalsHouses.Models.AnimalHouseCollectionViewModel

@{
    ViewBag.Title = "Animal";
}


<h1>Animals partial view</h1>
@foreach (var item in Model.CommonViewModel)
{
    <li>Id: @item.Id </li>
    <li>Name: @item.Name </li>
}