@section scripts{
    <script src="@Url.Content("~/Scripts/Controllers/Spa/Index.js")"></script>
}
@*<button id="animals">Animals</button>
<button id="houses">Houses</button>*@

<button id="newAnimals">Animals</button>
<button id="newHouses">Houses</button>

<div class="list-container">

</div>
